/* You can add global styles to this file, and also import other style files */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

#qr-code
{
	position: absolute;
    bottom: 10px;
    right: 10px;
}

#qr-code img{
	width:100px;
}

@media screen and (min-width: 901px) {
	body {
		background-image: url("./assets/img/tausta.png");
		background-repeat: repeat-x;
		background-color: #4cb050;
	}
	@keyframes animatedBackground {
		from {
			background-position: 0 0;
		}
		to {
			background-position: 100% 0;
		}
	}
}

@media screen and (max-width: 900px) {
	html {
		min-height: 100%;
	}
	body {
		min-height: 100%;
		background: linear-gradient(225deg, #8cd8fa, #35a5ea);
	}
}
