span {
	font-weight: bold;
}

#frontpage_charts {
	z-index: 1;
	position: absolute;
}

#bus_images {
	z-index: 2;
	height: 630px;
	position: absolute;
}
.button {
	width: 100px;
	height: 100px;
	border: solid 2px transparent;
}

#bus {
	position: absolute;
	left: 50px;
	bottom: -10px;
}

#default {
	position: absolute;
	left: 620px;
	top: 160px;
}
#location {
	position: absolute;
	left: 431px;
	top: 190px;
}

#motor {
	position: absolute;
	left: 251px;
	top: 150px;
}

#driver {
	position: absolute;
	left: 798px;
	top: 200px;
}

#battery {
	position: absolute;
	left: 62px;
	top: 200px;
}

.modal-body > a {
	float: right;
}
